body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

header {
    background-color: #3c4247;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 3em;
}

p {
    margin: 10px 0;
    font-size: 1.1em;
}

main {
    padding: 20px;
    text-align: center;
}

h2 {
    margin-bottom: 22px;
    font-size: 2em;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 30px;
}

.gallery img {
    width: 100%;
    max-width: 300px; /* Fixing the width */
    height: 200px; /* Fixed height */
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

/* Media Queries for Different Screen Sizes */

/* For Tablets */
@media (max-width: 768px) {
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.8em;
    }

    p {
        font-size: 1em;
    }

    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 20px;
    }

    .gallery img {
        max-width: 250px;
        height: 150px;
    }
}

/* For Mobile Phones */
@media (max-width: 480px) {
    h1 {
        font-size: 1.8em;
    }

    h2 {
        font-size: 1.5em;
    }

    p {
        font-size: 0.9em;
    }

    header {
        padding: 15px;
    }

    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 15px;
    }

    .gallery img {
        max-width: 200px;
        height: 120px;
    }
}
